body{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding:0;
    background-color: white;
}
.container {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 0.2fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "navbar write ."
      "navbar content ."
      "navbar content ."; 
  }
  .content { grid-area: content; }
  .write { grid-area: write; margin:0;}
  .navbar { grid-area: navbar; }
